.navigator {
  width: 200px;
  background-color: #3939e8;
  .nav-container {
    padding: 0 0.4em;
    .nav-title {
      padding: 0 0.2em;
      color: white;
    }
    .nav-link {
      display: flex;
      color: white;
      align-items: center;
      padding: 0.2em 0.2em;
      &:hover {
        background-color: white;
        color: #2222ff;
      }
      &-text {
        margin-left: 1em;
      }
    }
  }
}
